body{
    background-color: #E9ECF8;
}


.formulario > input[type="text"] {
    height: 100px;
    width: 700px;
    margin-bottom: 350px;
    border: none;
    background-color: #E9ECF8;
}

/* Estilo para el marcador de posición */
::placeholder {
    color: #0A3871; /* Cambia el color del marcador de posición aquí */
}

input[type="text"]:focus {
    outline: none;
    background-color: #E9ECF8;
}

.formulario{
    display: flex   ;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 50px;
}
.botones{
    display: flex;
    justify-content: flex-start;
    gap: 208px;
    margin: 0;
    
}
input[type="button"]{
    background-color: #0A3871;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    cursor: pointer;
}
.mensaje-input {
display: none;
width: 300px;
    border: none;
    background-color: #E9ECF8;
    padding: 10px;
    margin-top: 20px;

}
.contenido{
display: flex;
padding: 50px;
gap: 68px;


}
.respuesta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
gap: 20px;
width: 400px;
height: 644px;
left: 1000px;
top: 40px;
background: #FFFFFF;
padding-top: 10px;
padding-bottom: 10px;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}

#btnDescencriptar{
background-color: #E9ECF8;
color: #0A3871;
border: 1px solid #0A3871;
cursor:not-allowed;
}